@model CustoProducao.Core.Entities.Insumo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Insumo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CdInsumo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CdInsumo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DtInsumoCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtInsumoCadastro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NmInsumo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NmInsumo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DsInsumo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DsInsumo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VlInsumoNota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VlInsumoNota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VlInsumoFrete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VlInsumoFrete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdInsumo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
